button {
  border: none;
  color: white;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.7em;
  border-radius: 0.4em;
  cursor: pointer;
  margin: 0.5em;

  &.low {background-color: rgba(151, 140, 238, 0.5) } 
  &.normal {background-color: rgba(151, 140, 238, 0.75) } 
  &.high {background-color: rgba(151, 140, 238, 1) } 
  &.extra { padding: 1em}

}